<h1>Eat-Da-Burger!</h1>

<h2>Burgers that are not Devoured!</h2>

<ul>
  {{#each burgers}}
    {{#unless this.devoured}}
      <li>
        {{this.name}}

        <form action="/{{this.id}}?_method=PUT" method="POST">
          <input type="hidden" name="devoured" value="true">
          <button type="submit">Devoured!</button>
        </form>
      </li>
    {{/unless}}
  {{/each}}
</ul>

<h2>Burgers that are not Devoured!</h2>

<ul>
  {{#each burgers}}
    {{#if this.devoured}}
      <li>
        {{this.name}}

        <form action="/{{this.id}}?_method=PUT" method="POST">
          <input type="hidden" name="devoured" value="false">
          <button type="submit">EAT DA BURGER!</button>
        </form>
      </li>
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger</h2>
<form class="create-update-form" action="/" method="POST">

  <div class="form-group">
    <label for="bn">Burger Name :</label>
    <input type="text" id="bn" name="buger_name">
  </div>

  <div class="form-group">
    <label for="devo">Devoured?</label><br>
    <input type="radio" name="devoured" value="1" checked> Devoured!<br>
    <input type="radio" name="devoured" value="0"> Eat Da Burger
  </div>

  <button type="submit">ADD BURGER</button>
</form>
